<div class="images">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="top">
      <input type="text" placeholder="Search gifs here.." name="term" formControlName="term">
      <button type="submit"><i class="fa fa-search"></i></button>
    </div>
  </form>

  <div class="gifs">
    <app-image [image]="image" *ngFor="let image of images"></app-image>
  </div>
  <app-paging [pagination]="pagination" (onPageChange)="pageChange($event)"></app-paging>
  <div class="gifs-empty" *ngIf="!images.length">
    <h3>Search for gifs</h3>
    <img src="https://media.giphy.com/media/l46CmqkLcgQzM9yBG/giphy.gif" alt=" Search for icons">
  </div>
</div>
