.images {
  max-width: 1200px;
  margin: 0 auto;
  .top {
    width: 100%;
    display: flex;
    input[type=text] {
      padding: 6px;
      border: none;
      margin-top: 8px;
      font-size: 17px;
      width: 100%;
    }

    button {
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 16px;
      background-image: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 50%, rgb(153, 51, 255) 100%);
      background-size: 400%;
      background-position: 0% 100%;
      color: #fff;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }
  }

  .gifs{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    &-empty{
      text-align: center;
      margin-top: 10px;
    }
  }
}
