:host{
  display: block;
  text-align: center;
}
.pagination {
  display: inline-block;
  margin-top: 10px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  a {
    display: inline-block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    &.active, &:hover {
      cursor: pointer;
      background-image: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 50%, rgb(153, 51, 255) 100%);
      color: white;
    }
  }

}
