<div class="pagination" *ngIf="pages && pages > 1">
  <a (click)="setPage(currentPage - 1)" *ngIf="currentPage > 0">&laquo;</a>
  <a (click)="setPage(page)"
     [ngClass]="{'active': page === currentPage}"
     *ngFor="let i of counter(pages); let page = index;">
    {{page + 1}}
  </a>
  <a (click)="setPage(currentPage + 1)" *ngIf="currentPage + 1 < pages">&raquo;</a>
</div>
